


{% extends 'base.html.twig' %}

{% block title 'Gérer vos candidatures' %}

{% block body %}

<div class="container" mt-4>

    <h1 class="mt-5 mb-5 text-center">Candidature de {{application.user.name}} {{application.user.lastname}}</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Motivations</th>
            <th>cv</th>
            <th>Poste</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{application.user.lastname}}</td>
            <td>{{application.user.name}}</td>
            <td>{{application.user.email}}</td>
            <td>{{application.motivationLetter}}</td>
            <td><a href="{{ asset('/files/cvs/' ~ application.user.cv) }}" download >Télécharger </a></td>
            <td>{{application.mission.title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>



{% endblock %}