{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('message') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="mt-5 mb-5 text-center">Agence d'interim</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, eius. Illo doloremque reiciendis placeat obcaecati debitis eum tempora quibusdam similique dolores dolorum assumenda tenetur, consequatur repellat fuga excepturi nesciunt modi?</p>

		<h2 class="mt-5 mb-5 text-center">Dernières annonces de mission</h2>


		<div class="slider owl-carousel">
			{% for mission in missions %}
				<div class="card">
					<div class="content">
						<div class="title">{{ mission.title }}</div>
						<p>Ville :
							<div class="sub-title">{{ mission.city }}</div>
						</p>
						<p>Description :</p>
						<p>{{ mission.description }}</p>
					</p>
					<p>Salaire:
						{{ mission.salary }}
						€</p>
					<a href="{{ path('mission.show', {id: mission.id, slug: mission.slug}) }}">
						<div class="btn">
							<button>Lire plus</button>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>


	{# <div class="slider owl-carousel">
				{% for mission in missions %}
					<div class="card">
						<div class="content">
							<div class="title">{{ mission.title }}</div>
							<p>Ville :
								<div class="sub-title">{{ mission.city }}</div>
							</p>
							<p>Description :</p>
							<p>{{ mission.description }}</p>
						</p>
						<p>Salaire:
							{{ mission.salary }}
							€</p>
						<a href="{{ path('mission.show', {id: mission.id, slug: mission.slug}) }}">
							<div class="btn">
								<button>Lire plus</button>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div> #}

{% endblock %}
