{% extends 'base.html.twig' %}

{% block title %}Toutes les missions
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('message') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="mt-5 mb-5 text-center">Toutes les missions</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	<div class="jumbotron">


<div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include "mission/_filter.html.twig" with {form: form} only %} 
            </div>
            <div class="col-md-9">
             
                <div class="d-flex flex-wrap">
                  {% for mission in missions %}
					<div class="col-md-4">
						{% include "mission/_mission.html.twig" %}
					</div>
				{% endfor %}
                </div>
                <div class="mt-4">
                    {{ knp_pagination_render(missions) }}
                </div>
            </div>
        </div>
    </div>


		{# <div class="container mt-5">
			{% include "mission/_filter.html.twig" with {form: form} only %} 
		<div class="container mt-4">
			<h1>Voir toutes les missions</h1>
			<div class="row">
				{% for mission in missions %}
					<div class="col-md-4">
						{% include "mission/_mission.html.twig" %}
					</div>
				{% endfor %}
				<div class="pagination">
					{{ knp_pagination_render(missions) }}
				</div> 
			</div>
		</div> #}

	</div>
{% endblock %}
