{% extends 'base.html.twig' %}

{% block title mission.title %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center mt-5 mb-4">{{ mission.title }}</h1>
			<div class="mt-4">
				<h3 class="text-center">Description du poste :</h3>
				<p>
					{{ mission.description | nl2br }}
				</p>
				<h3 class="text-center">Compétences recherchées :</h3>
				<p>
					{{ mission.description | nl2br }}
				</p>

				{% if is_granted('ROLE_RECRUITER') %}

					{% else %}


						<div class="container">
							<button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal">
								Postulez !
							</button>
						</div>

						<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header border-bottom-0">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="form-title text-center">
											<h4>Login</h4>
										</div>
										<div class="d-flex flex-column text-center">
											
												{{ form_start(form) }}
												<div class="row">
													<div class="col">{{ form_row(form.motivationLetter) }}</div>
												</div>
												{{ form_rest(form) }}
												<div class="form-group">
													<button class="btn btn-primary">Soumettre</button</div>
													{{ form_end(form)}}
												
											</div>
										</div>
									</div>
								</div>
							</div>


							{# <div id="bouton" class="btn btn-danger" onclick="bascule('header');">Postulez !</div>
																														<div id="header" style="visibility:hidden">
																															{{ form_start(form) }}
																															<div class="row">
																																<div class="col">{{ form_row(form.motivationLetter) }}</div>
																															</div>
																															{{ form_rest(form) }}
																															<div class="form-group">
																																<button class="btn btn-primary">Soumettre</button</div>
																																{{ form_end(form)}} #}
						{% endif %}
					</div>
				</div>
			</div>
		{% endblock %}
