{% extends 'base.html.twig' %}

{% block title mission.title %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                
            </div>
            <div class="col-md-4">
                <h1>{{ mission.title }}</h1>
               
   
                <a href="#" class="btn btn-primary">Contacter l'agence</a>
            </div>    
        </div>
    </div>
  
<div class="mt-4">
   
    <p>
        {{ mission.description | nl2br }} 
    </p>

    <div class="row">
        <div class="col-md-8">
            <h2>Caractéristiques</h2>
            <table class="table table-striped">
                <tr>
                    <td>Surface habitable</td>
                    <td>{{ mission.surface }} m²</td>
                </tr>
                <tr>
                    <td>Pièces</td>
                    <td>{{ mission.rooms }}</td>
                </tr>
                <tr>
                    <td>Chambres</td>
                    <td>{{ mission.bedrooms }}</td>
                </tr>
                <tr>
                    <td>Etages</td>
                    <td>{{ mission.floor }}</td>
                </tr>
                <tr>
                    <td>Chauffage</td>
                    <td>{{ mission.heatType }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Spécificités</h2>
        </div>
    </div>
</div>
{% endblock %}
